page-home {
   
}

.painel{
    width: 100%;
    margin-top: -30px;
    padding: 20px;
    background-color: #245b94;
    color: #fff;
}
.painel>h1{
    margin-top: -10px;
    font-weight: bold;
}
h4{
   margin: 20px; 
}